@import url("../import.css");

@media (max-width: 575.8px) {
    .bottom-banner{
        height: 1020px;
    }

    .card{
        height: 280px;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {
    .sheet-title{
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .card {
        height: 200px;
    }

    .bottom-banner{
        height: 800px;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {
    .sheet-title{
        width: 100%;
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .bottom-banner{
        max-height: 360px;
    }

    .card-sheet{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 31%;
        height: 240px;
    }
}

@media (min-width: 992px) and (max-width: 1439.8px) {
    .sheet-title{
        width: 100%;
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .bottom-banner{
        max-height: 360px;
    }

    .card-sheet{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 32%;
        height: 240px;
    }
}

@media (min-width: 992px) and (max-width: 1439.8px) {
    .sheet-title{
        width: 100%;
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .bottom-banner{
        max-height: 360px;
    }

    .card{
        width: 32%;
        height: 240px;
    }
}

@media (min-width: 1440px) {
    .sheet-title{
        width: 100%;
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .main-banner{
        max-height: 480px;
    }

    .bottom-banner{
        max-height: 360px;
    }

    .card{
        width: 32%;
        height: 240px;
    }
}