@import url("import.css");

.card-sheet {
    gap: 0px;
    overflow: hidden;
}

.founders{
    background: var(--first-color);
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: -4px 4px 2px black;
}

.founders-title{
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--light);
    font-weight: 200;
}

@media (max-width: 575.8px) {
    .top-image-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-image{
        width: 140px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    .main-banner{
        height: 480px;
    }        

    .main-text-parag{
        text-align: center;
    }

    .mid-banner{
        padding: 10px 0px;
        box-sizing: border-box;
        height: 80px;
    }

    .bottom-banner{
        height: 1540px
    }

    .card-founder{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {
    .top-image-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-image{
        width: 140px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    .main-banner{
        height: 480px;
    }  

    .main-content{
        height: 440px
    }

    .mid-banner{
        padding: 10px 0;
        box-sizing: border-box;
        height: 80px;
    }

    .bottom-banner{
        height: 1540px;
    }

    .card-founder{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {
    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-image-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-image{
        width: 140px;
    }

    .mid-banner{
        padding: 10px 0;
        box-sizing: border-box;
        max-height: 80px;
    }
    
    .bottom-banner{
        max-height: 780px;
        height: 780px;
    }

    .card-founder{
        width: 49.5%;
    }
}


@media (min-width: 992px) and (max-width: 1439.8px) {
    .main-content{
        display: flex;
        height: 380px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-banner{
        height: 400px;
    }

    .main-text-content{
        width: 100%;
    }

    .main-text-parag{
        width: 80%;
        text-align: center;
    }

    .top-image-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-image{
        width: 280px;
    }

    .mid-banner{
        padding: 10px 0;
        box-sizing: border-box;
        max-height: 80px;
    }

    .bottom-banner{
        max-height: 380px;
        height: 380px;
    }

    .card-founder{
        width: 24.5%;
    }
}

@media (min-width: 1440px) {
    .main-content{
        display: flex;
        height: 380px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-banner{
        height: 400px;
    }

    .main-text-content{
        width: 100%;
    }

    .main-text-parag{
        width: 80%;
        text-align: center;
    }

    .mid-banner{
        max-height: 80px;
        padding: 10px 0px;
        box-sizing: border-box;
    }

    .bottom-banner{
        max-height: 380px;
        height: 380px;
    }

    .card-founder{
        width: 24.5%;
    }
}