@import url('./import.css');

.main-banner { 
    height: 320px;
}

.mid-banner {
    min-height: 400px;
    max-height: 640px;
    padding: 1rem;
}

.banner-content {
    max-width: 750px;
}

#ExtraInfo {
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal {
    border-radius: 15px;
    height: 200px;
    width: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
}

.modal-button {
    height: 20%;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.modal-layout {
    height: 200px;
}

.profile-photo {
    height: 180px;
}

.people-name, .people-info {
    text-align: center;
}

.people-info {
    padding: 0.25rem
}

.people-locality {
    text-align: right;
    padding: 0.25rem 1rem;
}

.people-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
}

.people-photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 220px;
}

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 160px;
    width: 95%;
    transition: 500ms;

    &:hover {
        transform: scale(1.02);
        background: #d1d2d3;
    }

    &:first-child {
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.35);
        border-radius: 0 20px 0 0;
    }

    &:last-child {
        border: 1px solid rgba(0, 0, 0, 0.35);
        border-radius: 0 0 20px 0;
    }

    &:not(:last-child) {
        border: 1px solid rgba(0, 0, 0, 0.35)
    }
}

.people-name {
    padding: 0.5rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: normal;
}

.bottom-banner {
    height: 100px;
}

#JobTable {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.job-company, .job-info {
    padding: 0.25rem 0.5rem;
}

.job-company {
    font-size: 20px;
}

.job-info {
    font-weight: normal;
    font-size: 18px;
}

@media (max-width: 575.8px) {
    .profile-main-section {
        flex-direction: column;
        width: 375px
    }

    .people-photo-box {
        border-right: none;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }

    .people-info-box {
        height: 160px;
        width: 100%;
    }
    
    .main-banner {
        height: 420px;
    }

    .job-company, .job-info {
        padding: 0.25rem 0.5rem;
    }

    .job-company {
        font-size: 20px;
    }

    .job-info {
        font-weight: normal;
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {

    .profile-main-section {
        display: flex;
        max-width: 500px;
    }

    .people-photo-box {
        width: 240px;
    }

    .people-info-box {
        display: flex;
        width: 280px;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {
    
}

@media (min-width: 992px) and (max-width: 1439.8px) {
 
}

@media (min-width: 1440px) {

}