@import url("import.css");

/* ############# CONTENT SECTION #############  */
/* ############# CONTENT SECTION #############  */

/* ############# INSIDE CONTENT ############# */
/* ############# INSIDE CONTENT ############# */

/* ############# HEADER AND FOOTER ############# */
/* ############# HEADER AND FOOTER ############# */

.filter-box{
    background: var(--first-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 80px;
}

.filter-select{
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 90px;
    height: 40px;
}

.filter-search{
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 0 15px 15px 0;
}  

.filter-input{
    background: #EFEFEF;
    text-indent: 20px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 240px;
    height: 40px;
}

@media (max-width: 575.8px) {
    .main-banner{
        height: 440px;
    }

    .mid-banner{
        height: 90px;
    }

    .card-sheet{
        height: 100%;
    }

    .bottom-banner > .banner-content{
        display: flex;
        flex-direction: column;
    }

    .main-text-title{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {
    .main-banner{
        height: 440px;
    }

    .mid-banner{
        height: 90px;
    }
    
    .bottom-banner{
        height: 800px;
    }

    .main-content{
        height: 400px;
    }

    .card-sheet{
        height: 100%;
    }

    .main-text-title{
        text-align: center;
    }

    .card-curriculum {
        width: 48%;
    }
    
    .curriculum-data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .curriculum-name{
        height: 60px    }
}

@media (min-width: 768px) and (max-width: 991.8px) {
    .main-banner{
        height: 360px;
    }

    .mid-banner{
        max-height: 90px;
    }

    .card-sheet{
        height: 100%;
    }

    .mid-banner > .banner-content{
        display: flex;
        flex-direction: column;
    }

    .card-curriculum {
        width: 48%;
    }

}

@media (min-width: 992px) and (max-width: 1439.8px) {
    .main-banner{
        height: 360px;
    }

    .mid-banner{
        height: 90px;
    }

    .bottom-banner {
        max-height: 500px;
    }

    .main-text-content{
        padding: 0.5em 2em;
        box-sizing: border-box;
    }

    .card-sheet{
        height: 100%;
    }

    .top-image{
        height: 275px;
        width: auto;
    }

    .logo-title{
        font-size: 24px;
    }

    .card-curriculum {
        width: 32%;
    }
}

@media (min-width: 1440px) {
    .main-banner{
        height: 360px;
    }

    .mid-banner {
        max-height: 90px;
    }

    .bottom-banner {
        min-height: 620px;
    }

    .top-image-content{
        width: 40%;
    }

    .main-text-content{
        width: 59.5%;
    }

    .top-image{
        height: 325px;
        width: auto;
    }

    .card-sheet {
        padding: 10px 0px;
        box-sizing: border-box;
        gap: 10px;
        height: 600px;
        border-bottom: 1px solid var(--dark);
    }

    .card-curriculum{
        width: 24%;
    }
}
