@import url("import.css");

/* 

ESSE ARQUIVO É RESPONSÁVEL PELAS MEDIA QUERIES DA TELA DE "SOBRE"
POSSUI ELEMENTOS GLOBAIS ASSIM COMO AS OUTRAS PÁGINAS, MAS TAMBÉM
POSSUI SEU ELEMENTOS INDEPENDENTES.
AS MEDIA QUERIES SÃO SEPARADAS POR 3 ESPAÇOS

HEADER/FOOTER = Todo componente de estilização dos cabeçalhos ou
rodapés que vai sofrer alteração

CONTENT SECTION = Todo conteúdo dentro das seguintes classes globais
main-banner, mid-banner, bottom-banner e banner-content

INSIDE CONTENT = Todo conteudo independente dentro do banner-content
no HTML. ALTERAR TAGS DE NOME ULTRA GENERICO

*/

.about-us-content{
    border: 1px solid yellow;
}

.founders{
    background: var(--first-color);
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: -4px 4px 2px black;
}

.founders-title{
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--light);
    font-weight: 200;
}

@media (max-width: 575.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    footer {
        height: 160px;
    }

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */
    .main-banner{
        height: 480px;
    }

    .main-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .main-banner .banner-content{
        justify-content: center;
    }

    .mid-banner{
        padding: 0.5em ;
        height: 60px;
    }

    .bottom-banner{
        height: 1540px;
    }

    .banner-content {
        flex-wrap: wrap;
        min-width: 330px
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .image-content{
        display: flex;
        width: 100%;
        height: 50%;
    }

    .text-content{
        width: 100%;
        height: 50%;
    }

    .banner-image{
        width: 320px;
        height: auto;
    }

    .main-text-parag{
        text-align: center;
    }

    .top-image-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-logo{
        width: 160px;
        height: 110px;
    }

    /* ############# CONTENT SECTION ############# */
    /* ############# CONTENT SECTION ############# */
    .main-banner{
        height: 520px;
    }

    .main-banner .banner-content{
        justify-content: center;
    }

    .mid-banner{
        padding: 0.5em ;
        height: 60px;
    }

    .bottom-banner{
        height: 760px;
    }

    .banner-content{
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .main-text-content{
        padding: 0.5em 4em;
        box-sizing: border-box;
    }

    .main-text-parag{
        text-align: center;
    }

    .banner-image{
        height: 100%;
    }

    .image-content{
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .text-content{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .content-title{
        text-align: center;
    }

    .top-image-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-founder{
        width: 49%;
    }

    .card-sheet{
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-navigation {
        width: 520px;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 

    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    .logo-text-box{
        width: 220px;
    }

    .header-text{
        display: block;
    }

    /* ############# CONTENT SECTION ############# */
    /* ############# CONTENT SECTION ############# */
    .main-banner{
        height: 380px;
    }

    .banner-content{
        width: 80%;
    }

    .main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mid-banner{
        padding: 0.5em ;
        height: 60px;
    }

    .bottom-banner{
        height: 760px;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .botao-cascata {
        display: none;
    }

    .banner-content-text, .banner-content-title{
        width: 75%;
    }

    .image-content{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .text-content{
        width: 50%;
    }

    .banner-image{
        width: 100%;
        height: auto;
    }

    .banner-content-text{
        text-align: center;
    }

    .main-text-parag{
        text-align: center;
    }

    .top-image-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-image{
        height: 160px;
        width: auto;
    }

    .card-founder{
        width: 49%;
    }

    .card-sheet{
        justify-content: space-evenly;
        align-items: center;
    }
}


@media (min-width: 992px) and (max-width: 1439.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-text{
        display: block;
    }

    .header-logo{
        width: 180px;
        height: 125px;
    }

    .header-navigation {
        width: 600px;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 

    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    /* ############# CONTENT SECTION ############# */
    /* ############# CONTENT SECTION ############# */
    .main-banner{
        height: 360px;
    }

    .banner-content{
        width: 75%;
        max-width: 1280px;
    }

    .main-content{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .mid-banner{
        padding: 0.5em ;
        height: 60px;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .botao-cascata {
        display: none;
    }

    .banner-text-content{
        padding: 0.5em 0.5em;
        box-sizing: border-box;
        width: 50%;
    }

    .sneaky-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-register-buttons{
        width: 95%;
    }

    .image-content{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .banner-image{
        max-width: 450px;
        width: 100%;
        height: auto;
    }

    .main-text-parag{
        text-align: center;
    }

    .card-founder{
        width: 24%;
        height: 375px;
    }

    .card-sheet{
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 1440px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-text{
        display: block;
    }

    /* ############# CONTENT SECTION ############# */
    /* ############# CONTENT SECTION ############# */
    .main-banner{
        height:400px
    }

    .banner-content, .main-content{
        width: 65%;
        max-width: 1200px;
    }

    .main-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .mid-banner{
        padding: 0.5em ;
        height: 60px;
    }
    
    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .image-content{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .banner-image{
        max-width: 450px;
        height: auto;
    }

    .main-text-parag{
        text-align: center;
    }

    .card-founder{
        width: 24%;
    }

    .card-sheet{
        justify-content: space-evenly;
        align-items: center;
    }
}