@import url("import.css");

.formulary-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.company-input{
    width: 100%;
    height: 38px;
    border-radius: 10px;
    background: var(--light);
    text-indent: 10px;
}

@media (max-width: 575.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */

    footer {
        height: 160px;
    }

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */

    .main-banner{
        height: 660px;
    }

    .mid-banner{
        height: 900px;
    }

    .bottom-banner{
        height: 800px;
    }

    .banner-content, .main-content {
        flex-wrap: wrap;
        min-width: 330px
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .content-title{
        font-size: 32px;
    }

    .content-text{
        font-size: 18px;
        width: 80%;
    }

    .content-list{
        width: 80%;
    }

    .content-item{
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 28px;
    }

    .main-text-title{
        font-size: 30px;
    }

    .image-content{
        display: flex;
        width: 100%;
        height: 50%;
    }

    .text-content{
        width: 100%;
        height: 50%;
    }

    .banner-image{
        width: 320px;
        height: auto;
    }

    .formulary-box{
        display: flex;
        justify-content: end;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .formulary-input{
        width: 77%;
    }

    .input-label{
        line-height: 40px;
        width: 20%;
        display: inline-block;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-logo{
        width: 160px;
        height: 110px;
    }

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */
    .main-banner{
        height: 640px;
    }

    .mid-banner{
        height: 800px;
    }

    .bottom-banner{
        height: 840px;
    }

    .banner-content, .main-content{
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .content-title{
        font-size: 32px;
    }

    .content-text{
        font-size: 18px;
        width: 80%;
    }

    .content-list{
        width: 80%;
    }

    .content-item{
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 28px;
    }

    .main-text-title{
        font-size: 30px;
    }

    .banner-text-content{
        padding: 0.5em 4em;
        box-sizing: border-box;
    }

    .banner-image{
        height: 100%;
    }

    .image-content{
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .text-content{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .content-title{
        text-align: center;
    }

    .formulary-box{
        display: flex;
        justify-content: end;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .formulary-input{
        width: 77%;
    }

    .input-label{
        line-height: 40px;
        width: 20%;
        display: inline-block;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    .logo-text-box{
        width: 220px;
    }

    .header-text{
        display: block;
    }

    .header-navigation {
        width: 520px;
    }

    .botao-cascata {
        display: none;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */
    .banner-content, .main-content{
        width: 80%;
    }

    .main-banner{
        height: 400px;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .content-title{
        font-size: 32px;
    }

    .content-text{
        font-size: 18px;
        width: 80%;
    }

    .content-list{
        width: 80%;
    }

    .content-item{
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 28px;
    }
    
    .main-text-title{
        font-size: 30px;
    }

    .banner-content-text, .banner-content-title{
        width: 75%;
    }

    .image-content{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .text-content{
        width: 50%;
    }

    .banner-image{
        width: 100%;
        height: auto;
    }

    .content-title{
        font-size: 32px;
    }

    .content-text{
        width: 75%;
    }

    .content-item{
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 28px;
    }

    .formulary-box{
        display: flex;
        justify-content: end;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .formulary-input{
        width: 65%;
    }

    .input-label{
        line-height: 40px;
        width: 30%;
        display: inline-block;
    }
    
    .button{
        width: 140px;
    }
}

@media (min-width: 992px) and (max-width: 1439.8px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-text{
        display: block;
    }

    .header-logo{
        width: 180px;
        height: 125px;
    }

    .header-navigation {
        width: 600px;
    }

    .botao-cascata {
        display: none;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 

    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */
    .main-text-title{
        font-size: 32px;
    }

    .banner-content, .main-content{
        width: 90%;
        max-width: 1280px;
    }

    .main-banner{
        height: 355px;
    }

    .mid-banner{
        height: 420px;
    }

    .bottom-banner{
        height: 540px;
    }

    .banner-text-content{
        padding: 0.5em 0.5em;
        box-sizing: border-box;
        width: 50%;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .content-title{
        font-size: 32px;
    }

    .content-text{
        width: 75%;
    }

    .content-item{
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 28px;
    }

    .top-image-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-register-buttons{
        width: 95%;
    }

    .formulary-box{
        width: 65%;
    }

    .text-content{
        display: flex;
        align-self: center;
        height: 60%;
        width: 60%;
    }

    .image-content{
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .banner-image{
        max-height: 300px;
        width: auto;
    }

    /* ############# CARD CONTENT ############# */
    /* ############# CARD CONTENT ############# */
    .sheet-title{
        width: 100%;
    }

    .card-social{
        width: 33%
    }

    .card-sheet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1440px) {

    /* ############# HEADER AND FOOTER ############# */
    /* ############# HEADER AND FOOTER ############# */
    .header-text{
        display: block;
    }

    /* ############# CONTENT SECTION #############  */
    /* ############# CONTENT SECTION #############  */
    .main-banner{
        height: 360px;
    }

    .banner-content, .main-content{
        max-width: 1200px;
    }

    /* ############# INSIDE CONTENT ############# */
    /* ############# INSIDE CONTENT ############# */
    .main-text-title{
        font-size: 32px;
    }

    .top-image-content{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 50%;
    }

    .image-content{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .banner-image{
        max-height: 300px;
        height: auto;
    }

    .banner-text-content{
        width: 50%;
    }

    /* ############# CARD CONTENT ############# */
    /* ############# CARD CONTENT ############# */
    .sheet-title{
        width: 100%;
    }

    .card-social{
        width: 33%
    }

    .card-sheet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}