@import url("header.css");
@import url("header-navigation.css");
@import url("footer.css");
@import url("main-content.css");
@import url("banner-text-content.css");
@import url("sneaky-content.css");
@import url("image-content.css");
@import url("text-content.css");
@import url("contact-us.css");
@import url("card-content.css");

:root{
    --first-color: #6C757D;
    --second-color: #343a40;
    --auxiliar: #17a2b8;
    --auxiliar-secondary: #FFC107;
    --button-color: #007bff;
    --light: #FFFFFF;
    --dark: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

body{
    min-width: 385px;
}

@media (max-width: 575.8px) {
    footer {
        height: 160px;
    }

    .top-banner{
        height: 590px;
    }

    .mid-banner{
        height: 900px;
    }

    .bottom-banner{
        height: 800px;
    }

    .banner-content {
        min-width: 330px
    }

    .section-content{
        flex-wrap: wrap;
    }

    .image-content{
        display: flex;
        width: 100%;
        height: 50%;
    }

    .text-content{
        width: 100%;
        height: 50%;
    }

    .banner-content{
        flex-wrap: wrap;
    }

    .banner-image{
        width: 320px;
        height: auto;
    }

    .card-sheet{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.8px) {
    .header-logo{
        width: 160px;
        height: 110px;
    }

    .banner-text-content{
        padding: 0.5em 4em;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) and (max-width: 991.8px) {
    .banner-content{
        width: 80%;
    }

    .top-banner{
        height: 380px;
    }

    .header-navigation {
        width: 520px;
    }

    .botao-cascata {
        display: none;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 
    .banner-content-text, .banner-content-title{
        width: 75%;
    }

    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    .logo-text-box{
        width: 220px;
    }

    .header-text{
        display: block;
    }

    .image-content{
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1440px) {
    .banner-content{
        width: 90%;
        max-width: 1280px;
    }

    .header-logo{
        width: 180px;
        height: 125px;
    }

    .header-navigation {
        width: 600px;
    }

    .botao-cascata {
        display: none;
    }

    .list-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    } 

    .navigation-item{
        text-align: center;
        width: 19%;
        display: inline-block;
    }

    .banner-text-content{
        padding: 0.5em 0.5em;
        box-sizing: border-box;
        width: 50%;
    }

    .sneaky-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-banner{
        height: 490px;
    }

    .user-register-buttons{
        width: 95%;
    }
}