.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 280px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    transition: 500ms;

    &:hover{
        background: #c6c6d6;
        transform: scale(1.05);
    }
}

/* CONTACT-US SOCIALS SHEET */
.social-sheet {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 10px;
}

/* PROFILES GRID */
.grid {
    padding: 0.25rem 0.5rem;
    overflow-y: scroll;
    gap: 5px;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}